.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pieChart {
  fill : var(--primaryColor)
}
.subHeading {
  color: var(--textColor);
}
.numberStats {
  display: flex;
  gap: 20px;
}
@media (max-width: 575px) {
  .chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .numberStats {
    flex-direction: column;
    gap: 20px;
  }
  
}

.label {
  font-size: var(--fontBody);
  margin-bottom: var(--paddingSmall);
  display: block;
  color: var(--textColor);
  font-weight: bold;
}

.selectWrapper {
  position: relative; /* Positioning context for the arrow */
  width: 100%;
}

.select {
  width: 100%;
  padding: var(--paddingSmall);
  font-size: var(--fontBody);
  background-color: var(--inputBgColor);
  border: 1px solid var(--inputBorderColor);
  border-radius: 4px;
  transition: border-color 0.3s ease;
  color: var(--textColor);
  padding-right: var(--paddingLarge); /* Adds space for the custom arrow */
}

.select:focus {
  border-color: var(--inputFocusBorderColor);
  outline: none;
}

.option {
  font-size: var(--fontBody);
  background-color: var(--mainBgColor);
  color: var(--textColor);
}
