
.navbar {
  height: 50px;
  border-bottom: 1.5px solid rgb(191, 191, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingMedium);
  background-color: var(--secondaryBgColor);
  color: var(--textColor);
  font-size: var(--fontBody);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.brand {
  font-size: var(--fontSubHeading);
  font-weight: 500;
}

.toggle {
  display: none;
  background: none;
  border: none;
  color: var(--textColor);
  font-size: var(--fontHeading);
  cursor: pointer;
}

/* Default menu styles */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--paddingMedium);
  margin: 0;
  padding: 0;
}


.menu .item a {
  color: var(--linkColor);
  text-decoration: none;
  font-size: var(--fontBody);
  border: 1px dashed rgb(186, 186, 186);
  padding: 5px 10px;
}

.menu .item a:hover {
  color: var(--linkHoverColor);
}
@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--paddingSmall);
    position: absolute;
    border-bottom: 1.5px solid rgb(191, 191, 191);
    top: 50px;
    left: 0;
    background-color: var(--secondaryBgColor);
    max-height: 0;
    overflow: hidden;
    width: 100vw;
    transition: max-height  0.3s ease;
    transition: padding 0.2s ease;
  }
  
  .menuOpen {
    padding: 20px 0;
    max-height: 400px;
  }
  .menu .item {
    margin: 5px 0;
  }
}